name: 04 - Using Actions
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Printing Folders
        run: |
          echo "Directories..."
          ls -ltrh